<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UITableViewSearchController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>680DB9E51D929D8C002F0111</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>680DB9F91D929D8F002F0111</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>680DBA041D929D8F002F0111</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
